In [2]:
import pandas as pd

# Sample data
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emma'],
    'Age': [25, 30, 35, 28, 32],
    'City': ['London', 'New York', 'Paris', 'Tokyo', 'Sydney'],
    'Salary': [60000, 75000, 80000, 70000, 65000]
}

employees = pd.DataFrame(data)
employees

      Name  Age      City  Salary
0    Alice   25    London   60000
1      Bob   30  New York   75000
2  Charlie   35     Paris   80000
3    David   28     Tokyo   70000
4     Emma   32    Sydney   65000

In [3]:
# Task 2: Indexing and Slicing
print(employees.loc[3:4, ['Name', 'Salary']])  # Using index labels for rows and column names

    Name  Salary
3  David   70000
4   Emma   65000

In [4]:
# Using positional-based indexing
print(employees.iloc[3:5, [0, 3]])  # Using integer positions for rows and column positions

    Name  Salary
3  David   70000
4   Emma   65000

In [5]:
# Task 3: Boolean Indexing
print(employees[employees['Age'] >= 30])  # Filtering data based on age

      Name  Age      City  Salary
1      Bob   30  New York   75000
2  Charlie   35     Paris   80000
4     Emma   32    Sydney   65000