In [9]:
import pandas as pd
import matplotlib.pyplot as plt

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emma'],
    'Age': [25, 30, 35, 28, 32],
    'City': ['London', 'New York', 'Paris', 'Tokyo', 'Sydney'],
    'Salary': [60000, 75000, 80000, 70000, 65000]
}

df = pd.DataFrame(data)

print("DataFrame\n")
print(df)

DataFrame

      Name  Age      City  Salary
0    Alice   25    London   60000
1      Bob   30  New York   75000
2  Charlie   35     Paris   80000
3    David   28     Tokyo   70000
4     Emma   32    Sydney   65000

In [39]:
# Indexing and Slicing
print(df.loc[3:4, ['Name', 'Salary']]) # Using index labels for rows and column names

    Name  Salary
3  David   70000
4   Emma   65000

In [40]:
# sing positional-based indexing
print(df.iloc[3:5, [0, 3]])

    Name  Salary
3  David   70000
4   Emma   65000

In [42]:
# Boolean Indexing
print(df[df['Age'] >= 30])

      Name  Age      City  Salary
1      Bob   30  New York   75000
2  Charlie   35     Paris   80000
4     Emma   32    Sydney   65000