In [29]:
import pandas as pd

employees = {
    'EmployeeID': [101, 102, 103, 104, 105],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emma'],
    'Department': ['HR', 'IT', 'Finance', 'Marketing', 'Sales'],
    'Salary': [60000, 75000, 80000, 70000, 65000]
}

print('Data Exploration')
employees_df = pd.DataFrame(employees)
print(employees_df.head(3))
print(employees_df['Salary'].describe())
print(employees_df.groupby('Department').size())
# different way of getting the count of employees per department:
# print(employees_df['Department'].value_counts())

Data Exploration
   EmployeeID     Name Department  Salary
0         101    Alice         HR   60000
1         102      Bob         IT   75000
2         103  Charlie    Finance   80000
count        5.00000
mean     70000.00000
std       7905.69415
min      60000.00000
25%      65000.00000
50%      70000.00000
75%      75000.00000
max      80000.00000
Name: Salary, dtype: float64
Department
Finance      1
HR           1
IT           1
Marketing    1
Sales        1
dtype: int64

In [49]:
print('Data Analysis')
print(employees_df['Salary'].sum() / len(employees_df['Salary']))
print(employees_df.loc[employees_df['Salary'].idxmax()]) #makes the rows & columns more readable + returns specific row of a maximum amount.
#different way of getting the highest salary: print(employees_df['Salary'].max())
print(employees_df.groupby('Department')['Salary'].mean().idxmin()) #returns the specific row of a minimum amount.Âµ
employees_df['Salary Increase'] = employees_df['Salary'] * 1.1
print(employees_df)

Data Analysis
70000.0
EmployeeID             103
Name               Charlie
Department         Finance
Salary               80000
Salary Increase    88000.0
Name: 2, dtype: object
HR
   EmployeeID     Name Department  Salary  Salary Increase
0         101    Alice         HR   60000          66000.0
1         102      Bob         IT   75000          82500.0
2         103  Charlie    Finance   80000          88000.0
3         104    David  Marketing   70000          77000.0
4         105     Emma      Sales   65000          71500.0