In [6]:
import pandas as pd

names = ["John", "Teemo", "Gerard"]

cars = {"Honda Civic" : 2000, "Toyota Supra" : 1999, "Ford Mustang" : 2006}

cars_df = {"Brand" : ["Toyota", "Honda", "Ford"], "Model" : ["Supra", "Civic", "Mustang"], "Year" : [1998, 2000, 2006]}

series_names = pd.Series(names)
series_cars = pd.Series(cars)
print(series_names)
print(series_cars)

df_cars = pd.DataFrame(cars_df)
df_cars.info()
print(df_cars.describe())
filtered_df = df_cars[df_cars["Year"] > 1999]
filtered_df

0      John
1     Teemo
2    Gerard
dtype: object
Honda Civic     2000
Toyota Supra    1999
Ford Mustang    2006
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Brand   3 non-null      object
 1   Model   3 non-null      object
 2   Year    3 non-null      int64
dtypes: int64(1), object(2)
memory usage: 204.0+ bytes
              Year
count     3.000000
mean   2001.333333
std       4.163332
min    1998.000000
25%    1999.000000
50%    2000.000000
75%    2003.000000
max    2006.000000

   Brand    Model  Year
1  Honda    Civic  2000
2   Ford  Mustang  2006