Het bestand "studentInfo.csv" bevat informatie over de in- en uitschrijfdatum van studenten. Wanneer een student nog niet uitgeschreven is, dan is de waarde van uitschrijfdatum None. De datums zijn in volgend formaat dd/mm/jjjj.

Lees het bestand in een panda dataframe.

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

data = pd.read_csv("studentInfo.csv", delimiter=";")

Toon de eerste rijen om na te gaan of dit goed gelukt is.

In [3]:
data.head()

  studentnummer inschrijfdatum uitschrijfdatum
0       r012345     11/09/2023             NaN
1       r124589     10/05/2023      01/12/2022
2       r457899     10/10/2023      24/31/2024
3       r012345     11/09/2023      22/12/2023
4       r024589     10/18/2023     100/12/2023

Verwijder alle rijen met in de kolom "uitschrijfdatum" een niet geldige datum (ook None is uiteraard een niet geldige datum). 
Toon opnieuw de eerste rijen om na te gaan of dit goed gelukt is

In [4]:
data['uitschrijfdatum'] = pd.to_datetime(data['uitschrijfdatum'], format='%d/%m/%Y', errors='coerce')
data = data.dropna()
data.head()

  studentnummer inschrijfdatum uitschrijfdatum
1       r124589     10/05/2023      2022-12-01
3       r012345     11/09/2023      2023-12-22
6       r112345     21/09/2023      2024-01-01
7       r124589     10/08/2023      2023-12-01
8       r457899     10/10/2023      2024-01-24

Verwijder alle rijen  met een niet geldige datum in de kolom "inschrijfdatum" .

In [ ]:
data['inschrijfdatum'] = pd.to_datetime(data['inschrijfdatum'], format='%d/%m/%Y', errors='coerce')
data = data.dropna()
data.head()

Maak een nieuwe kolom "aantal dagen" dat het aantal dagen tussen in- en uitschrijfdatum bevat.

In [ ]:
data ['aantal dagen'] = (data['uitschrijfdatum'] - data['inschrijfdatum']).dt.days
data.head(15)

Verwijder alle rijen waarvoor de kolom "aantal dagen" een negatieve waarde heeft.

In [ ]:
data = data[data['aantal dagen'] >= 0]
data = data.dropna()
data.head(15)

Geef een visueel overzicht in de vorm van een histogram van het aantal studenten dat eenzelfde aantal dagen is ingeschreven.
Voorbeeld: 

![output.png contains an image of the expected output. A histogram is shown with "aantal dagen ingeschreven" on the x-axis and "aantal studenten" on the y-axis.](output.png)

In [ ]:

data = data.plot(kind="hist")
plt.xlabel("Aantal dagen ingeschreven")
plt.ylabel("Aantal studenten")